*{
  margin: 0;
  padding: 0;
}


body {
    max-width: auto;
}

header {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 0;

 }

#h001 {
    font-family: 'Patrick Hand', cursive;
    padding: 20px;
}

.logo {
    float: left;
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#logo {
    width: 260px;
    height: 240px;

}

.classe{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 300px;

}

.umidade{
    float: left;
    width: 50%;
    height: 300px;

}

.umidade h1{
    text-align: center;

}

.temperatura{
    float: left;
    width: 50%;
    height: 300px;


}

.temperatura h1{
    text-align: center;
 
}

.box{
    width: 160px;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px;
    }
    .box-circle svg{
    width: 150px;
    height: 150px;
    position: relative;
    }
    circle{
    width: 150px;
    height: 150px;
    fill:none;
    stroke: black;
    stroke-width: 8;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    }
    circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:rgb(68, 68, 68);
    }
    circle:nth-child(2){
    stroke:dodgerblue;
    transition: stroke-dashoffset 0.8s;
    }
    .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    }

.umid{
    width: 260px;
    margin: auto;
    padding-top: 15px;
}

.umi{
    margin: auto;
    background-color:;
    width: 50%;
    height: 300px;


}
.acionar{
  float: left;
  text-align: center;
  background-color:#d9dbdb;
  width: 40%;
  height: 120px;

}
.lolo{
  float: right;
  text-align: center;
  background-color:#d9dbdb;
  width: 60%;
  height: 240px;
}
.lopi{
  float: left;
  width: 50%;
  height: 240px;

}
.tipo{
  float: left;
  width: 50%;
  height: 240px;

}

.sala{
  float: right;
  text-align: center;
  background-color:#d9dbdb;
  width: 100%;
  height: 80px;

}

.cozinha{
  float: right;
  text-align: center;
  background-color:#d9dbdb;
  width: 100%;
  height: 80px;

}
.quarto{
  float: right;
  text-align: center;
  background-color:#d9dbdb;
  width: 100%;
  height: 80px;

}
.banheiro{
  float: right;
  text-align: center;
  background-color:#d9dbdb;
  width: 100%;
  height: 80px;

}
.corredor{
  float: right;
  text-align: center;
  background-color:#d9dbdb;
  width: 100%;
  height:80px;

}
.area{
  float: right;
  text-align: center;
  background-color:#d9dbdb;
  width: 100%;
  height: 80px;

}
