  *{
  font-family: 'Patrick Hand', cursive;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@300&display=swap');


header {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 0;
    background-color: #e9d8d8;

 }
 #numberProgress, #numberProgress2{
  display: none;
 }

 button{
  display: none
 }
 .clear{
  clear: both;
 }

#h001 {
    font-family: 'Patrick Hand', cursive;
    padding: 20px;
    padding-right: 130px;
    width: 396px;
}

.logo {
    float: left;
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#logo {
    width: 260px;
    height: 240px;

}

.center{
    
}

.classe{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: #e9d8d8;
    border-top: 5px solid;
    border-color: rgba(120, 120,120, 0.5);

}

.umidade{
    float: left;
    width: 50%;
    height: 300px;

}

.umidade h1{
    text-align: center;

}

.temperatura{
    float: left;
    width: 50%;
    height: 300px;


}

.temperatura h1{
    text-align: center;
 
}

.alarme{
  float: left;
  text-align: center;
  width: 40%;
  height: 150px; 
    border-right: 2px solid;
    border-color: rgb(84 16 16 / 50%);
}

.box{
    width: 160px;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px;
    }
    .box-circle svg{
    width: 150px;
    height: 150px;
    position: relative;
    }
    circle{
    width: 150px;
    height: 150px;
    fill:none;
    stroke: black;
    stroke-width: 8;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    }
    circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:rgb(68, 68, 68);
    }
    circle:nth-child(2){
    stroke:dodgerblue;
    transition: stroke-dashoffset 0.8s;
    }
    .box number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    }

.umid{
    width: 260px;
    margin: auto;
    padding-top: 15px;
}

.umi{
    margin: auto;
    width: 50%;
    height: 300px;


}
.acionar{
  
  float: left;
  text-align: center;
  width: 40%;
  height: 150px;
  border-right: 2px solid;
  border-color: rgb(84 16 16 / 50%);

}
.lolo{
  float: right;
  text-align: center;
  width: 60%;
  height: 240px;
  margin-left: -2px
}
.lopi{
  float: left;
  width: 50%;
  height: 240px;

}
.tipo{
  float: left;
  width: 50%;
  height: 240px;


}

.sala{
  float: right;
  text-align: center;
  width: 100%;
  height: 80px;
  


}

.cozinha{
  float: right;
  text-align: center;
  width: 100%;
  height: 80px;
  


}
.quarto{
  float: right;
  text-align: center;
  width: 100%;
  height: 80px;
  


}
.banheiro{
  float: right;
  text-align: center;
  width: 100%;
  height: 80px;
  


}
.corredor{
  float: right;
  text-align: center;
  width: 100%;
  height:80px;
  


}
.area{
  float: right;
  text-align: center;
  width: 100%;
  height: 80px;
  


}

.meio{
  max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: #e9d8d8;
    border-top: 5px solid;
    border-color: rgba(120, 120,120, 0.5);  
}


#numberProgress, {
  display: none
}

#bolota{
    transform: rotate(180deg);
    margin-top: -30px;
}

.espaco{
  padding: 8px;
}

footer{
  max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100px;
    background-color: #e9d8d8;
    border-top: 5px solid;
    border-color: rgba(120, 120,120, 0.5);  
}
footer h1{
  padding: 30px;
    margin: auto;
    width: 500px;
}

input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none; /* Aparência padrão do checkbox é anulada */
  background-color: #c6c6c6; /* cor de fundo */
  outline: none; /* sem borda externa */
  border-radius: 20px; /* arrendodamento dos cantos */
  box-shadow: inset 0 0 5px rgba(85, 85, 85, 0.2); /* sombra interna */
  transition: .2s; /* tempo de transição que vai ocorrer com a cor de fundo e com a posção da bolinha*/
  cursor: pointer;/* estabelecer que o mouse vai ter uma aparência como se fosse clicar em um botão */
}

input:checked[type="checkbox"] {
  background-color: #29db3f;/* cor de fundo que vai ser aplicada quando o checkbox tiver uma alteração para checked */
}
/* O seletor :before pode criar objetos antes do elemento principal, no caso cria a bolinha do botão  */
input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background:#6B312E;
  transform: scale(1.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .2s;
}

input:checked[type="checkbox"]:before {
  left: 40px;
}

@media only screen and (max-width: 390px) {
  header{
    font-size: 12px;
  }

  #h001{
    padding-right: 30px;
    width: 186px;
  }

  #logo{
    width: 240px;
    margin-left: -35px;
  }

  .umi h1{
    font-size: 22px;
  }

  svg{
        margin-left: -40px; 
  }

  .lopi h1{
    font-size: 22px;
  }
  .espaco h1{
    font-size: 17px;
  }
  .alarme h1, .acionar h1{
    font-size: 17px;
  }
  input{
    margin-top:5px;
  }

  footer{
    
    font-size: 11px;
  }
}
